@model IEnumerable<VerdeoVentas.Models.Venta>

<div style="display: flex; width:100%;align-content: center;align-items: center;flex-direction:column;">
    <h1>Ventas</h1>

    <table style="border: 1px solid black;">
        <thead>
            <tr>
                <th>Artículo</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Pago Total</th>
                <th>Fecha de Venta</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var venta in Model)
            {
                <tr>
                    <td>@venta.Articulo</td>
                    <td>@venta.Descripcion</td>
                    <td>@venta.Precio</td>
                    <td>@venta.Cantidad</td>
                    <td>@venta.PagoTotal</td>
                    <td>@venta.FechaVenta</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div style="border: 1px solid black;padding: 10px;display:inline-block;">
        <h2>Agregar Nueva Venta</h2>

        <form asp-controller="Ventas" asp-action="Create" method="post">
            <div>
                <label>Artículo</label>
                <input asp-for="Articulo" />
            </div>
            <div>
                <label>Descripción</label>
                <input asp-for="Descripcion" />
            </div>
            <div>
                <label>Precio</label>
                <input asp-for="Precio" type="number" step="0.01" />
            </div>
            <div>
                <label>Cantidad</label>
                <input asp-for="Cantidad" type="number" />
            </div>
            <div>
                <label>Pago Total</label>
                <input asp-for="PagoTotal" type="number" step="0.01" />
            </div>
            <div>
                <label>Fecha de Venta</label>
                <input asp-for="FechaVenta" type="date" />
            </div>
            <button type="submit">Agregar</button>
        </form>

    </div>
</div>

