@model IEnumerable<VerdeoVentas.Models.Venta>

    <h2 class="titulo">VENTAS TOTALES</h2>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Cliente</th>
                <th>Pedido</th>
                <th>Precio</th>
                <th>Pago</th>
                <th>Tipo de pago</th>
                <th>Fecha</th>
                <th>Envio</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var venta in Model)
            {
                <tr>
                    <td>@venta.Id</td>
                    <td>@venta.Cliente</td>
                    <td>@venta.Pedido</td>
                    <td>$@venta.Precio</td>
                    <td>@(venta.Pago ? "Sí" : "No")</td>
                    <td>@venta.TipoDePago</td>
                    <td>@venta.FechaVenta</td>
                    <td>@(venta.Envio ? "Sí" : "No")</td>
                    <td>$@venta.Total</td>
                </tr>
            }
        </tbody>
    </table>

    <a href="@Url.Action("Create", "Ventas")">Agregar venta</a>

<style>
    .titulo{
        font-family: "Lato", sans-serif;
        color: #262626;
        font-size: 30px;
    }

    body{
        display: flex;
        height: 100%;
        width: 100%;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        background-color: #f0f0f0;
        padding: 0;
        margin: 0;
    }
    table{
        border: .5px solid #f5f5f5;
        border-radius: 8px;
        background-color: #f5f5f5;
        text-align: center;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    thead{
        background-color: #f5f5f5;
    }

    tbody{
        background-color: #fafafa;
    }

    th, td{
        padding: 12px;
    }

    a{
        text-decoration: none;
        background: #31d36c;
        padding: 9px;
        border-radius: 34px;
        width: 106px;
        text-align: center;
        color: #262626;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        font-weight: 600;
        margin-top: 15px;
    }
</style>
